In [1]:
# import tensorflow as tf
import tensorflow_datasets as tfds
import pandas as pd

In [2]:
ratings = tfds.load("movielens/100k-ratings", split="train")
movies = tfds.load("movielens/100k-ratings", split="train") # didn't find difference

In [3]:
df = tfds.as_dataframe(ratings)

In [4]:
df.columns.values

array(['bucketized_user_age', 'movie_genres', 'movie_id', 'movie_title',
       'raw_user_age', 'timestamp', 'user_gender', 'user_id',
       'user_occupation_label', 'user_occupation_text', 'user_rating',
       'user_zip_code'], dtype=object)

In [5]:
df.head()

,bucketized_user_age,movie_genres,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,45.0,[7],b'357',"b""One Flew Over the Cuckoo's Nest (1975)""",46.0,879024327,True,b'138',4,b'doctor',4.0,b'53211'
1,25.0,"[4, 14]",b'709',b'Strictly Ballroom (1992)',32.0,875654590,True,b'92',5,b'entertainment',2.0,b'80525'
2,18.0,[4],b'412',"b'Very Brady Sequel, A (1996)'",24.0,882075110,True,b'301',17,b'student',4.0,b'55439'
3,50.0,"[5, 7]",b'56',b'Pulp Fiction (1994)',50.0,883326919,True,b'60',4,b'healthcare',4.0,b'06472'
4,50.0,"[10, 16]",b'895',b'Scream 2 (1997)',55.0,891409199,True,b'197',18,b'technician',3.0,b'75094'

In [13]:
latest = tfds.load("movielens/latest-small-ratings", split="train")

Downloading and preparing dataset 955.28 KiB (download: 955.28 KiB, generated: 15.82 MiB, total: 16.75 MiB) to /Users/justinpaul/tensorflow_datasets/movielens/latest-small-ratings/0.1.0...

HBox(children=(FloatProgress(value=1.0, bar_style='info', description='Dl Completed...', max=1.0, style=Progre…

HBox(children=(FloatProgress(value=1.0, bar_style='info', description='Dl Size...', max=1.0, style=ProgressSty…

HBox(children=(FloatProgress(value=1.0, bar_style='info', description='Extraction completed...', max=1.0, styl…

HBox(children=(FloatProgress(value=0.0, description='Generating splits...', max=1.0, style=ProgressStyle(descr…

HBox(children=(FloatProgress(value=0.0, description='Generating train examples...', max=100836.0, style=Progre…

HBox(children=(FloatProgress(value=0.0, description='Shuffling /Users/justinpaul/tensorflow_datasets/movielens…

Dataset movielens downloaded and prepared to /Users/justinpaul/tensorflow_datasets/movielens/latest-small-ratings/0.1.0. Subsequent calls will reuse this data.

In [14]:
df_latest = tfds.as_dataframe(latest)

In [15]:
df_latest.columns.values

array(['movie_genres', 'movie_id', 'movie_title', 'timestamp', 'user_id',
       'user_rating'], dtype=object)

In [16]:
df_latest.head()

,movie_genres,movie_id,movie_title,timestamp,user_id,user_rating
0,"[7, 8, 13, 15]",b'4874',b'K-PAX (2001)',1446749868,b'105',5.0
1,"[7, 18]",b'527',"b""Schindler's List (1993)""",1305696664,b'17',4.5
2,"[5, 9]",b'7943',"b'Killers, The (1946)'",1166068511,b'309',4.0
3,"[10, 13, 16]",b'1644',b'I Know What You Did Last Summer (1997)',1518640852,b'111',0.5
4,"[1, 2, 3, 4, 12, 14]",b'8360',b'Shrek 2 (2004)',1127221149,b'182',3.0